body{
    margin: 0;
}

div, textarea{
    box-sizing: border-box;
}

.nav{

    text-align: center;
    margin-left: 60px;
}

.nav li
{
    font-size: 0.8rem;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-right: 0;
}

.nav li a,
.nav li a:visited
/* a태그의 기본상태, a태그를 방문한 후 */
{
    text-decoration: none;
    color: black;
}

.nav li:hover
/* li영역에 마우스를 올려두었을 때 li의 색을 darkgreen의 색으로 밑줄을 주고싶다 */
{
    color: darkgreen;
    background-color: black;
    text-decoration: underline;
    
}

.nav li:hover a
/* li영역에 마우스가 들어왔을때 글자의 색을 darkgreen으로 바꾼다 */
{
    color: darkgreen;
}

.back-img
{
    background-image: url(../img/coffee.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    background-position: center;
    /* 이미지의 시작이 중앙부터 시작 */
}

.img-info{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 30%;
    left: 10%;
}

.img-title
{   
    color: #13362D;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
    
}

.img-second-title{
    font-size: 60px;
    margin-top: 0; /* 기본적인 margin 초기화 */
    margin-bottom: 0px; 
    color: #659950;
}


.img-content
{
    color: #13362D;
    font-size: 35px;
    text-align: center;
    margin-top: 0; /* 기본적인 margin 초기화 */
    margin-bottom: 10px; /* 간격을 줄임 */
}

.img-button
{   color: red;
    border: 1px solid red;
    position: absolute;
    left: 30%;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}

.img-button:hover{
    color: black;
    background-color: wheat;
    text-decoration: underline;
    border: 1px solid violet ;
}
